@using PatheAsp.Models
@using Pathe_ASP2015.Models
@model PatheAsp.Models.Voorstelling
@{
    ViewBag.Title = "StoelKiezen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ToString()</h2>
@{Prijs prijs = Session["ticketPrijs"] as Prijs;}
<p>Prijs: @prijs.PrijsInEuro()</p>
<p>Kies stoel:</p>
@using (Html.BeginForm("SelectStoel", "Voorstellingen"))
{
    <select id="stoel" class="form-control" size="1" name="stoel">
        @foreach (Stoel s in @Model.GetVrijeStoelen(Handler.GetZaalFromVoorstelling(Model).Stoelen))
        {
            <option value="@s.Id">Rij: @s.Rij - Nummer: @s.Nummer</option>
        }
    </select>
    <input type="submit" class="btn btn-warning" value="submit" />
}


