@using PatheAsp.Models
@using Pathe_ASP2015.Models
@model PatheAsp.Models.Film
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alle Films</h2>
@foreach (Film f in Handler.GetAllFilms())
{
    <h3>@f.Naam</h3>
    <p>@f.Beschrijving</p>
    <p>Aantal Minuten: @f.Duur</p>
    <p>Datum uitgekomen: @f.ReleaseDate.Day - @f.ReleaseDate.Month - @f.ReleaseDate.Year</p>
}


